.Resume .heading h1 {
  font-size: 40px;
}
.Resume .content {
  max-width: 85%;
  margin: auto;
}
.Resume .box {
  padding: 40px;
}
.Resume hr {
  margin: 30px 0 30px 0;
  border: 1px solid #e3e9ed;
  background-color: #85b3d1ff;
}
.Resume .rate .btn_shadow {
  color: #0188ff;
  padding: 15px 30px;
  font-weight: bold;
  transition: 0.5s;
  margin: 2%;
}
.Resume p {
  font-size: 18px;
  transition: 0.5s;
}
.Resume .box {
  margin-bottom: 40px;
  position: relative;
}
.Resume .btn_shadow:hover {
  transform: translate(0);
}
.Resume .resume {
  animation: back 10s linear infinite;
}
@keyframes back {
  0% {
    color: #173f5f;
  }
  20% {
    color: #20639b;
  }
  40% {
    color: #3caea3;
  }
  60% {
    color: #f6d55c;
  }
  80% {
    color: #ed553b;
  }
  100% {
    color: #114b5f;
  }
}
.Resume .education {
  animation: back 10s linear infinite;
}
@keyframes back {
  0% {
    color: #e63946;
  }
  20% {
    color: #f1faee;
  }
  40% {
    color: #a8dadc;
  }
  60% {
    color: #457b9d;
  }
  80% {
    color: #1d3557;
  }
  100% {
    color: #2ec4b6;
  }
}
.Resume .box:hover .btn_shadow {
  background: #403aff;
  box-shadow: none;
  color: white;
}
.Resume .box:hover p {
  color: white;
}
.Resume .content-section {
  position: relative;
}
.Resume .left {
  position: relative;
}
.Resume .left::after {
  content: "";
  position: absolute;
  top: 16%;
  left: 0;
  height: 118vh;
  width: 5px;
  background: #85b3d1ff;
  z-index: -2;
}
.Resume .box::after {
  content: "";
  position: absolute;
  top: 13%;
  left: -8%;
  height: 5px;
  width: 50px;
  background: #85b3d1ff;
}
.Resume .box::before {
  content: "";
  position: absolute;
  top: 11%;
  left: -10%;
  height: 10px;
  width: 10px;
  background: #85b3d1ff;
  border: 5px solid #85b3d1ff;
  border-radius: 50%;
  z-index: 5;
  transition: 0.5s;
}
.Resume .box:hover.box:before {
  background: #eea47fff;
}
@media (max-width: 768px) {
  .Resume .d_flex {
    flex-direction: column;
  }
  .Resume .left::after {
    top: 14%;
    height: 105vh;
  }
}
